html, body, #root {
  width: 100%;
  overflow-x: hidden;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
html, body, #root {
  width: 100%;
  overflow-x: hidden;
}
    ul, ol{
        list-style: revert;
        font-size: medium;
    }
    p{
        font-size: medium;
    }
    li{
        margin-left: 1em;
    }
}
html, body, #root {
  width: 100%;
  overflow-x: hidden;
}